body, h1, h2, h3, p, table, ul, footer, a, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: 'Roboto', sans-serif;
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    }
    header {
    text-align: center;
    margin-bottom: 30px;
    }
    header h1 {
    font-size: 2.5em;
    color: #e7ab5d;
    margin-bottom: 10px;
    }
    header img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    section {
    background-color: rgba(255, 255, 255, 0.8); /
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    }
    section h2 {
    font-size: 2em;
    color: #e7ab5d;
    margin-bottom: 15px;
    position: relative;
   }
    section h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #e7ab5d;
    position: absolute;
    left: 0;
    bottom:-10px;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }
    table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: transparent; /
    table th {
    background-color: transparent;
    color: #333;
    }
    ul {
    }
    list-style-type: disc;
    margin-left: 20px;
    footer {
    text-align: center;
    padding: 10px;
    background-color: #e7ab5d;
    color: #fff;
    border-radius: 10px;
    }
    footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
   }
    footer a:hover {
    text-decoration: underline;
    }
    audio, video {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 20px 0